.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.education-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease;
}
.education-card:hover{
  transform: scale(1.02);

}

.education-card h3 {
  font-size: 1.6em;
  font-family: "Times New Roman", Times, serif;
  color:white;
}

.education-card p {
  font-size: 1.2em;
  color:yellow;
}

@media (max-width: 768px) {
  .education-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) {
  .education-card {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .education-card {
    width: 30%;
  }
}
